body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box1{
  width:100%;
  transition: 3s;
}
.box2{
  width:100%;
  opacity:0;
  visibility:hidden;
  display:none;
  transition: 3s;
}

.card-container:hover .box1{
  opacity: 0.1;
  visibility: hidden;
  display:none;
  transition: 3s; 
}

.card-container:hover .box2{
  visibility: visible;
  display:block;
  transition: 3s;
  opacity: 1;
} 
      